.idea/
**/.DS_Store
*.db
*.db.lock

# badger db files
*.sst
*.vlog
*.mem
DISCARD
KEYREGISTRY
LOCK
MANIFEST
NODEKEY

keys/
target/
/xfsgo

*.json
*.log
*.yml
!.golangci.yml
!config-development.yml
!genesis-development.json
.vscode/
